.navigation-button {
    border: none;
    background: none;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff; 
    text-decoration: none; 
    }
  
.navigation-button:hover {
    color: rgb(115, 115, 121);
}
