.swiper_and_info {
    display: flex;
    /*flex-flow: row nowrap;*/
    margin-top: 40px;
    margin-left: 20%;
}
.react-swiper__swiper {border: 10px solid}


.info_location {
    display: flex;
    flex-flow: column;
    margin-left: 100px;
    margin-bottom: 20px;
}

.gallery_image {
    width: 110px;
}

/*.swiper_div {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    width: 450px;*/
/*}*/

.title_info_location {
    color: gray;
    font-size: 0.8rem;
}

.desc_info_location {
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

.link_location {
    text-decoration: none;
    color: #0E294B;
}

@media screen and (max-width: 920px) {
    .swiper_and_info {
        display: flex;
        flex-flow: column wrap;
        margin-left: 10px;
    }

    .info_location {
        margin-left: 10px;
    }
}