.react-swiper__swiper {border: 10px solid}

button {
    width: 33%;
    height: 33%;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    border: none;
}

img {
    width: 300%;
    height: 300%;
}

.info_about_teacher {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: justify;
    text-align-last: center;
    font-size: 1.5rem;
    font-family: inter, serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 30%;
    color: #002e5d
}